/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bottom-right {
  position: absolute;
  top: 35%;
  left: 50%;
}

.bottom-right2 {
	 position: absolute;
  top: 40%;
  left: 50%;
}
